# environment
.venv/

# environment variables
.env
.env.*
!.env.example

# ruff
.ruff_cache/

# MacOS files
.DS_Store

# Visual Studio Code
.vscode/

# Python cache
__pycache__/
*.egg-info/

# backups
backups/

# stored data
data/**
backup_data/**
!/data/.gitkeep
backup_data*/**
financial_advice_data/**

# development
dev_scripts/

# output probes
output/

# unsloth compiled models
unsloth_compiled_cache/

# analysis results
analysis/results**
